<div class="container-fluid offset-lg-3">
  <div class="row">
    <h1>CONTACT US</h1>
  </div>
  <div class="row">
    <div class="col">
      <form class="" action="/contact" method="post">
        <div class="row row-cols-1 mt-2">
          <div class="col offset-2 offset-lg-1">
            <label for="contactMessage">Message:</label>
            </div>
            <div class="col offset-3 offset-lg-2">
              <textarea name="contactMessage" rows="4" cols="20"></textarea>
          </div>
        </div>
        <div class="row row-cols-1">
          <div class="col offset-2 offset-lg-1">
            <label for="contactEmail">Email Address:</label>
          </div>
          <div class="col offset-3 offset-lg-2">
            <input type="text" name="contactEmail">
          </div>
        </div>
        <div class="row row-cols-1">
          <div class="col offset-7 offset-lg-5">
            <button class="btn btn-dark btn-lg mt-2" type="submit" name="contact-button" disabled>Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
