<div class="row container-fluid">


  <div class="col offset-lg-1">

    <form class="" action="/submit" method="post">
      <div class="row">
        <h1>WHAT DO YOU LIKE?</h1>
      </div>

      <div class="row row-cols-lg-2">
        <div class="col">





                <div class="row row-cols-1">
                  <div class="col offset-1 top-space">
                    <label class="label-title" for="foodTitle">Meal:</label>
                  </div>
                  <div class="col offset-2">
                    <input type="text" id="foodTitle" name="foodTitle">
                  </div>
                </div>


                <div class="row row-cols-1">
                  <div class="col offset-1">
                    <label class="label-title" for="foodAccomp">With:</label>
                  </div>
                  <div class="col offset-2">
                    <input type="text" id="foodAccomp" name="foodAccomp">
                  </div>
                </div>


                <div class="row row-cols-1">
                  <div class="col offset-1">
                    <label class="label-title" for="mealName">for:</label>
                  </div>
                  <div class="col offset-2">
                    <div class="row row-cols-2">
                      <div class="col">
                        <input type="checkbox" id="breakfast" name="mealName" value="breakfast">
                        <label for="breakfast">Breakfast</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="lunch" name="mealName" value="lunch">
                        <label for="lunch">Lunch</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="dinner" name="mealName" value="dinner">
                        <label for="dinner">Dinner</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="snack" name="mealName" value="snack">
                        <label for="snack">Snack</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="dessert" name="mealName" value="dessert">
                        <label for="dessert">Dessert</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="midnightSnack" name="mealName" value="midnightSnack">
                        <label for="midnightSnack">Midnight Snack</label>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row row-cols-1">
                  <div class="col offset-1">
                    <label class="label-title" for="DName">when it's:</label>
                  </div>
                  <div class="col offset-2">
                    <div class="row row-cols-2">
                      <div class="col">
                        <input type="checkbox" id="hot" name="mealTemp" value="hot">
                        <label for="hot">almost too hot to eat</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="warm" name="mealTemp" value="warm">
                        <label for="warm">warm and sunny</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="nice" name="mealTemp" value="nice">
                        <label for="nice">raining all day</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="cool" name="mealTemp" value="cool">
                        <label for="cool">a perfect fall day</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="cold" name="mealTemp" value="cold">
                        <label for="cold">like a snow globe</label>
                      </div>
                      <div class="col">
                        <input type="checkbox" id="freezing" name="mealTemp" value="freezing">
                        <label for="freezing">f*cking freezing</label>
                      </div>
                    </div>
                  </div>
                </div>






        </div>
        <div class="col">





          <div class="row row-cols-1">
            <div class="col offset-1 top-space">
              <label class="label-title" for="DietName">This meal contains:</label>
            </div>
            <div class="col offset-2">
              <div class="row row-cols-2">
                <div class="col">
                  <input type="checkbox" id="meat" name="dietRestrict" value="meat">
                  <label for="meat">Meat</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="pork" name="dietRestrict" value="pork">
                  <label for="pork">Pork</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="shellfish" name="dietRestrict" value="shellfish">
                  <label for="shellfish">Shellfish</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="fish" name="dietRestrict" value="fish">
                  <label for="fish">Fish</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="nuts" name="dietRestrict" value="nuts">
                  <label for="nuts">Nuts</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="gluten" name="dietRestrict" value="gluten">
                  <label for="gluten">Gluten</label>
                </div>
                <div class="col">
                  <input type="checkbox" id="dairy" name="dietRestrict" value="dairy">
                  <label for="dairy">Dairy</label>
                </div>
              </div>
            </div>
          </div>



          <div class="row row-cols-1">
            <div class="col offset-1">
              <label class="label-title" for="website">Website</label>
              <p>*optional</p>
            </div>
            <div class="col offset-2">
              <input type="text" id="website" name="website">
            </div>
          </div>


                <div class="row row-cols-1">
                  <div class="col offset-1">
                    <label class="label-title" for="websiteName">Website Name</label>
                    <p>*optional</p>
                  </div>
                  <div class="col offset-2">
                    <input type="text" id="websiteName" name="websiteName">
                  </div>
                </div>







        </div>

      </div>




      <div class="row row-cols-1 offset-5">
        <div class="col top-space">
          <button class="btn btn-dark btn-lg" type="submit" name="login-button">Submit</button>
        </div>

      </div>
    </form>


  </div>
</div>
