

<div class="row container-fluid mt-4">
  <!-- <div class="col d-flex flex-column flex-row-lg"> -->
  <div class="list-group list-group-horizontal-lg d-flex justify-content-center mt-lg-5">
    <h4 class="nav-text list-group-item"><b><u>W2eat</u></b></h4>
    <h4 class="nav-text list-group-item"><a href="/contact">CONTACT</a></h4>
    <h4 class="nav-text list-group-item"><a href="/about">ABOUT</a></h4>
    <h4 class="nav-text list-group-item"><a href="/legal">LEGAL STUFF</a></h4>

</div>
</div>
