<div class="container-fluid">

<div class="row navi-bar fixed-top pt-2 pb-2">

  <div class="col-3 d-flex justify-content-center">
    <h4 class="nav-text"><a href="/">HOME</a></h4>
  </div>

</div>

</div>
