<div class="col  offset-lg-1">
  <div class="row row-cols-1 d-flex">
    <form class="" action="/userHome" method="post">
      <div class="col d-flex justify-content-end">

        <button class="btn btn-link" type="submit" name="heartButton" id="heartButton">
          <a href="/register">
            <img class="suggestion-icons" src="Images/icons/empty-heart.png" alt="fav icon">
          </a>
        </button>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-link" type="submit" name="blockButton" id="blockButton">
          <a href="/register">
            <img class="suggestion-icons" src="Images/icons/block.png" alt="block icon">
          </a>
        </button>

      </div>
    </form>
  </div>
</div>
