
<div class="row container-fluid">


  <div class="col offset-lg-4">

    <form class="" action="/login" method="post">
      <div class="row">
        <h1>Sign In</h1>
      </div>

      <div class="row row-cols-1 offset-1">

        <div class="col top-space">
          <label class="label-title" for="username">Email Address</label>
        </div>
        <div class="col offset-1">
          <input type="text" id="username" name="username">
        </div>
      </div>
      <div class="row row-cols-1 offset-1">
        <div class="col">
          <label class="label-title" for="password">Password</label>
        </div>
        <div class="col offset-1">
          <input type="password" id="password" name="password">
        </div>
      </div>
      <div class="row row-cols-1 offset-4">
        <div class="col top-space">
          <button class="btn btn-dark btn-lg" type="submit" name="login-button">Sign In</button>
        </div>
        <div class="col top-space">

            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign In with Google
            </a>

        </div>

      </div>
  </form>


</div>
</div>
