<div class="col  offset-lg-1">
<div class="row row-cols-1 d-flex">
  <form class="" action="/userHome" method="post">
  <div class="col d-flex justify-content-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="coming soon">

    <button class="btn btn-link" type="submit" name="heartButton" id="heartButton" disabled>
    <img class="suggestion-icons" src="Images/icons/empty-heart.png" alt="fav icon">
    </button>
  </div>
  <div class="col d-flex justify-content-end" data-bs-toggle="tooltip" data-bs-placement="bottom" title="coming soon">
    <button class="btn btn-link" type="submit" name="blockButton" id="blockButton" disabled>
    <img class="suggestion-icons" src="Images/icons/block.png" alt="block icon">
    </button>

  </div>
  </form>
</div>
</div>
