<div class="container-fluid">

<div class="row d-flex justify-content-center navi-bar fixed-top pt-2 pb-2">

  <div class="col-3 d-flex justify-content-center justify-content-lg-start ps-2">
    <h4 class="nav-text"><a href="/">HOME</a></h4>
  </div>

  <div class="col-9 d-flex justify-content-center justify-content-lg-end pe-3">
    <div class="row row-cols-3">
      <div class="col">
        <h4 class="nav-text disabled-text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="coming soon">SAVED</h4>
      </div>
      <div class="col">
        <h4 class="nav-text"><a href="/submit">SUBMIT</a></h4>
      </div>
      <div class="col">
        <h4 class="nav-text"><a href="/logout">LOGOUT</a></h4>
      </div>
    </div>
  </div>

</div>

</div>
