
<div class="row container-fluid ">
  <div class="col offset-lg-4 mb-lg-5 mt-lg-3">
    <div class="row">
      <h1>Where Are You?</h1><br>
      <h4>or where do you wish you were?</h4>
    </div>
    <div class="row">
      <div class="col offset-1">
        <form class="" action="/loggedOutLocation" method="post">
          <input type="text" name="qLocation" placeholder="enter city name" required>
          <button class="btn btn-dark btn-lg" type="submit" name="qLocation-button">Go</button>
        </form>

      </div>

    </div>
  </div>
</div>
