<%- include("partials/head") %>
<%- include("partials/home-nav-bar") %>


<div class="main-contain mt-5">

<div class="container-fluid offset-lg-3">
  <h1>ABOUT</h1>
  <p class="offset-1 col-lg-5 me-3">Gummi bears jelly bonbon marshmallow brownie. Marshmallow pastry icing donut brownie chupa chups dragée topping.
    Chocolate toffee tart pie carrot cake bear claw icing. Brownie croissant marzipan cake jelly-o gummi bears.</p>
</div>

<%- include("partials/foot-nav-bar") %>


</div>

<%- include("partials/footer") %>
